
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
SDL_Debug/
SDL_Release/
SFML_Debug/
SFML_Release/
Debug/
Release/
*.manifest
*.res
BuildLog.htm
*.idb
*.o
Empty
*.png.h
*.ttf.h
SFML-2/sfml-build/
/LogicChevaux/CMakeFiles/
/gfx/CMakeFiles/
/CMakeFiles/
/bin2C/CMakeFiles/
/bin2C/cmake_install.cmake
/bin2C/Makefile
/bin2C/bin2C
/maps/CMakeFiles/
/PremierGalop/CMakeFiles/
/SDLGfxChevaux/CMakeFiles/
/SFMLGfxChevaux/CMakeFiles/
/Makefile
/Result.png
/Result2.png
/cmake_install.cmake